
body {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: none;
    margin: 1%;
    padding: 1%;
    font-family: 'Yeon Sung', cursive;
    font-size: xx-large;
    text-align: center; 
    background-color: rgb(190, 190, 248);;
}

.container {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url("https://bit.ly/2JQxgYu");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

#overlay {
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    background: rgba(0, 0, 0, 0.7); 
}
h2 {
    font-size: 75px;
    text-shadow: 5px 5px 5px rgb(91, 91, 192);
}

p {
    font-size: 40px;
}

.main {
    font-size: 100px;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(91, 91, 192);
}

/* .second {
    font-size: 34px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center
} */

.back {
    color: black;
    text-align: right;
    clear: both;
    position: static;
}

nav>ul>li>a:hover {
    box-shadow: 2 2 20px black, inset 1 1 2px rgb(207, 206, 206);
    color:  rgb(91, 91, 192);
}
#button {
    padding:10px;
    background-color:  rgb(91, 91, 192);
    color:white;
    border-radius:20%;
}
nav {
    max-width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 30px;
    background-color: grey;
     width:100%; 
    margin-top: -50px;
    margin-bottom: -5%;
    

}

nav ul {
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;

}

nav>ul>li>a {
    padding: 18px;
    margin-right: 0;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    color: white;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.row p{
    font-size:30px;
}
.column{
    width: 250px;
    padding:0 10px;
    margin-right: 1%;
    margin-bottom: 2%;
    overflow: hidden;
    object-fit: contain;
}
.card{
    padding: 16px;
    background-color: white;
    height: 400px;
    box-shadow: 0 15px 10px 0  rgb(83, 83, 187);
    position: relative;
    
}
#footer{
    background-color: grey;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    width: 100%;
    clear: both;
}
input[type=text]{
    padding: 12px 20px;
    margin:10px;
    box-sizing: border-box;
}